@import '../../../../public/style/main';

:host {
  @include card();
  display: flex;
  flex-direction: column;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    p {
      margin: 0;
      text-align: center;
      max-width: 200px;
    }
  }
}
