$gap: 16px;
$gap-double: calc($gap * 2);
$width: 1024px;

$nav-height: 70px;
$nav-background: #747474;
$nav-background-strong: #444444;

:host {
  display: block;
  font-family: sans-serif, Arial;

  .nav {
    display: flex;
    justify-content: center;
    background: $nav-background;
    background: linear-gradient(62deg, $nav-background-strong 0%, $nav-background 100%);
    height: $nav-height;
    gap: $gap;
    width: 100%;
    position: fixed;
    top: 0;

    @media screen and (max-width: $width) {
      justify-content: flex-start;
    }

    ul {
      display: flex;
      align-items: center;
      min-width: $width;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: flex;
        align-items: center;
        height: 100%;

        a {
          text-decoration: none;
          padding: 10px 20px;
          display: block;

        }

        &:hover {
          background-color: darken($nav-background, 10%);
        }
      }
    }


    &__link {
      text-decoration: none;
      padding: $gap;
      color: lighten($nav-background, 30%);
    }
  }

  main {
    overflow-y: auto;
    height: calc(100vh - $nav-height);
    margin-top: $nav-height;
    scroll-behavior: smooth;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #DDFFE7 0%, #E0C3FC 100%);

    //background: #3E5151;  /* fallback for old browsers */
    //background: -webkit-linear-gradient(to right, #DECBA4, #3E5151);  /* Chrome 10-25, Safari 5.1-6 */
    //background: linear-gradient(to right, #DECBA4, #3E5151); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    //background: #159957;  /* fallback for old browsers */
    //background: -webkit-linear-gradient(to right, #155799, #159957);  /* Chrome 10-25, Safari 5.1-6 */
    //background: linear-gradient(to right, #155799, #159957); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    //background: #649173;  /* fallback for old browsers */
    //background: -webkit-linear-gradient(to right, #DBD5A4, #649173);  /* Chrome 10-25, Safari 5.1-6 */
    //background: linear-gradient(to right, #DBD5A4, #649173); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    //background: #BBD2C5;  /* fallback for old browsers */
    //background: -webkit-linear-gradient(to right, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
    //background: linear-gradient(to right, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */




    .container {
      max-width: $width;
      margin: 0 auto;
      padding: 0 $gap-double $gap-double;

      &__title {
        font-size: 18px;
        margin: 0;
        padding: 24px 0 20px;
        color: darken($nav-background-strong, 10%);
      }

      &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
        grid-auto-rows: minmax(100px, auto);
        gap: $gap-double;

        &__card {
          display: flex;
          border-radius: 8px;
          padding: calc($gap / 2);
          background: rgb(255 255 255 / 100%);
          box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
          border: 1px solid rgb(255 255 255 / 30%);

          > * {
            display: contents;
          }

        }
      }
    }
  }
}
