<h1>Dynamic-card</h1>


<nav class="menu__nav">
  @for (item of list; track item) {
    <a href="#{{ item.name }}">{{ item.name }}</a>
  }
</nav>


@for (item of list; track item) {
  <article>
    <h2 [id]="item.name">{{ item.name }}</h2>

    <div>
      @for (card of item.cards; track card; let i = $index) {
        <div
          [style.height]="card.style.height"
          [style.background]="card.style.color"
          [style.gridArea]="card.style.gridArea"
        >
          <h3>{{ card.name }}</h3>
          <app-card-display [card]="card"></app-card-display>
        </div>
      }
    </div>

  </article>
}

