@import '../../../../public/style/main';

:host {
  @include card();

  .grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(10px, 1fr));
    overflow-y: auto;
    max-height: calc(100% - 32px);

    &__header,
    &__item {
      display: flex;
      align-items: center;
    }

    &__header {
      background: rgb(0 0 0 / 30%);
      mix-blend-mode: multiply;
      font-weight: bold;
      text-align: center;
      color: white;
      padding: 6px;
    }

    &__item {
      mix-blend-mode: multiply;
      border-bottom: 1px solid #ddd;
      padding: 10px 6px;
      font-size: 14px;
    }
  }
}
