<h3>{{ title() }} <small>{{ description() }}</small></h3>

<div class="grid">
  <div class="grid__header">Name</div>
  <div class="grid__header">Investment</div>

  <div class="grid__item">John Doe</div>
  <div class="grid__item">$37,810</div>

  <div class="grid__item">Jane Smith</div>
  <div class="grid__item">$56,904</div>

  <div class="grid__item">Michael Johnson</div>
  <div class="grid__item">$78,021</div>

  <div class="grid__item">Emily Davis</div>
  <div class="grid__item">$67,623</div>

  <div class="grid__item">James Wilson</div>
  <div class="grid__item">$62,744</div>

  <div class="grid__item">Alice Brown</div>
  <div class="grid__item">$25,409</div>

  <div class="grid__item">Robert Jones</div>
  <div class="grid__item">$74,598</div>

  <div class="grid__item">Linda Garcia</div>
  <div class="grid__item">$15,661</div>

  <div class="grid__item">William Martinez</div>
  <div class="grid__item">$30,605</div>

  <div class="grid__item">Patricia Her.</div>
  <div class="grid__item">$99,979</div>

  <div class="grid__item">Joseph Lee</div>
  <div class="grid__item">$41,541</div>

  <div class="grid__item">Sophia Taylor</div>
  <div class="grid__item">$74,480</div>

  <div class="grid__item">Daniel Anderson</div>
  <div class="grid__item">$25,402</div>

  <div class="grid__item">Emma Thomas</div>
  <div class="grid__item">$27,152</div>

  <div class="grid__item">Ethan White</div>
  <div class="grid__item">$71,194</div>

  <div class="grid__item">Olivia Harris</div>
  <div class="grid__item">$49,014</div>

  <div class="grid__item">Mason Clark</div>
  <div class="grid__item">$20,110</div>

  <div class="grid__item">Ava Lewis</div>
  <div class="grid__item">$60,852</div>

  <div class="grid__item">James Walker</div>
  <div class="grid__item">$37,759</div>

  <div class="grid__item">Isabella Hall</div>
  <div class="grid__item">$49,895</div>
</div>
